
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link href="~/Content/Index.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="menu-selection">
    </div>
</body>
</html>